<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaobing.framemvpproject.module_b">

    <application>
        <activity android:name=".TestCActivity"></activity>
        <activity android:name=".DataBindingActivity"></activity>
    </application>

</manifest>